services:

    postgres:
        image: postgres:15.14-alpine3.22

        environment:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        volumes:
          - postgres-data:/var/lib/postgresql/data
          - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
        networks:
          - jar_net

    rabbitmq:
        image: rabbitmq:4.1.4-management-alpine
        ports:
          - 5672:5672
        environment:  
          RABBIT_MQ_HOST: rabbitmq
          RABBIT_MQ_PORT: 5672
          RABBIT_MQ_USER: guest
          RABBIT_MQ_PASSWORD: guest
          RABBIT_MQ_QUEUE_NAME: messagequeue
          RABBIT_MQ_EXCHANGE: messagequeue-exchange
        volumes:
            - rabbit_mq:/var/lib/postgresql/data
        networks:
          - jar_net

    booking-service:
        build: ./booking-service
        depends_on:
            - postgres
            - rabbitmq
            - hotel-service
            - payment-service
            - loyalty-service
        environment:
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: users_db
            RABBIT_MQ_HOST: rabbitmq
            RABBIT_MQ_PORT: 5672
            RABBIT_MQ_USER: guest
            RABBIT_MQ_PASSWORD: guest
            RABBIT_MQ_QUEUE_NAME: messagequeue
            RABBIT_MQ_EXCHANGE: messagequeue-exchange
            HOTEL_SERVICE_HOST: hotel-service
            HOTEL_SERVICE_PORT: 8082
            PAYMENT_SERVICE_HOST: payment-service
            PAYMENT_SERVICE_PORT: 8084
            LOYALTY_SERVICE_HOST: loyalty-service
            LOYALTY_SERVICE_PORT: 8085
        networks:
          - jar_net

    gateway-service:
        build: ./gateway-service
        ports: 
          - 8087:8087
        depends_on:
          - postgres
          - session-service
          - hotel-service
          - booking-service
          - payment-service
          - loyalty-service
          - report-service
        environment:
            SESSION_SERVICE_HOST: session-service
            SESSION_SERVICE_PORT: 8081
            HOTEL_SERVICE_HOST: hotel-service
            HOTEL_SERVICE_PORT: 8082
            BOOKING_SERVICE_HOST: booking-service
            BOOKING_SERVICE_PORT: 8083
            PAYMENT_SERVICE_HOST: payment-service
            PAYMENT_SERVICE_PORT: 8084
            LOYALTY_SERVICE_HOST: loyalty-service
            LOYALTY_SERVICE_PORT: 8085
            REPORT_SERVICE_HOST: report-service
            REPORT_SERVICE_PORT: 8086
        networks:
        - jar_net

    hotel-service:
        build: ./hotel-service
        depends_on:
          - postgres
        environment:  
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER : postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: hotels_db
        networks:
          - jar_net


    loyalty-service:
        build: ./loyalty-service
        depends_on:
          - postgres
        ports:
          - 8085:8085
        environment:
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER : postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: balances_db
        networks:
          - jar_net


    payment-service:
        build: ./payment-service
        depends_on:
          - postgres
        environment:
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER : postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: payments_db
        networks:
          - jar_net


    report-service:
        build: ./report-service
        depends_on:
          - postgres
          - rabbitmq
        ports: 
          - 8086:8086
        environment:
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER : postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: statistics_db
            RABBIT_MQ_HOST: rabbitmq
            RABBIT_MQ_PORT: 5672
            RABBIT_MQ_USER: guest
            RABBIT_MQ_PASSWORD: guest
            RABBIT_MQ_QUEUE_NAME: messagequeue
            RABBIT_MQ_EXCHANGE: messagequeue-exchange
        networks:
          - jar_net

    session-service:
        build: ./session-service
        ports: 
          - 8081:8081
        depends_on:
          - postgres
        environment:
            POSTGRES_HOST: postgres
            POSTGRES_PORT: 5432
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: users_db 
        networks:
          - jar_net
networks:
  jar_net:
volumes:
    postgres-data:
    rabbit_mq:
